<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>￼
  <button mat-button routerLink="/">
    <h2>Mana Shop</h2>
  </button>
  <a mat-icon-button routerLink="/shopping-cart">
    <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">shopping_cart</mat-icon>
  </a>

  <span fxFlex></span>

  <ng-template #anonymousUser>
    <a mat-button routerLink="/login">
      <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">lock</mat-icon> Login
    </a>
  </ng-template>
  <button *ngIf="appUser; else anonymousUser" mat-button [matMenuTriggerFor]="themeMenu">
    <mat-icon>account_circle</mat-icon> {{ appUser.name | uppercase }}
  </button>
</mat-toolbar>

<mat-menu #themeMenu x-position="before">
  <a mat-menu-item routerLink="/my/orders">
    <mat-icon>shopping_basket</mat-icon>
    <span>My Orders</span>
  </a>
  <ng-container *ngIf="isAdmin">
    <a mat-menu-item routerLink="/admin/orders">
      <mat-icon>format_list_bulleted</mat-icon>
      <span>Manage Orders</span>
    </a>
    <a mat-menu-item routerLink="/admin/products">
      <mat-icon>format_list_bulleted</mat-icon>
      <span>Manage Product</span>
    </a>
  </ng-container>
  <a mat-menu-item (click)="logout()">
    <mat-icon>input</mat-icon>
    <span>Log Out</span>
  </a>
</mat-menu>